
BB_Semaphore/Settings/buildApp.4DSettings
BB_Semaphore/Project/Sources/settings.4DSettings
**/methodAttributes.json
BB_Semaphore/Data/*
BB_Semaphore/Project/DerivedData/*
BB_Semaphore/Libraries/lib4d-arm64.dylib
BB_Semaphore/userPreferences.*
