
bb-semaphore/Settings/buildApp.4DSettings
bb-semaphore/Project/Sources/settings.4DSettings
**/methodAttributes.json
bb-semaphore/Data/*
bb-semaphore/Project/DerivedData/*
bb-semaphore/Libraries/lib4d-arm64.dylib
bb-semaphore/userPreferences.*
